<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>


<div class="jumbotron text-center">
  <div class="container">
    <h1>Promotto</h1>
    <p>The Heroku version of proMotto</p>
  </div>
</div>

<div class="container">

	<%- mottoArea %>
</div>

<% include ../partials/scriptsInHtml.ejs %>
</body>
</html>
