<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>


<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Promotto</h1>
    <p>This is the heroku version of proMotto</p>
    <a type="button" class="btn btn-lg btn-default" href="./liveline"><span class="glyphicon glyphicon-flash"></span> Go to Liveline</a>
    <a type="button" class="btn btn-lg btn-primary" href="./cool"><span class="glyphicon glyphicon-download"></span> Cool Faces </a>
  </div>
</div>
<hr>

<div class="container">

<%- mottoArea %>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> @1 </h3>
      <ul>
        <li> @1a</li>

        <li> @1b <a href="@1b">@1b</a></li>
        <li> @1c </li>
        <li>@1d</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> @2</h3>
      <ul>
        <li> @2a</li>
        <li> @2g</li>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> @3</h3>
      <ul>
        <li><a href="@3a"> @3a</a></li>
        <li> @3b </li>
        <li> @3c </li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    alert
  </div>
</div>


</body>
</html>
