<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

	<style>
		li.motto {
		    border: 1px solid black;
		    margin: 0px;
		    padding: 10px;
		}
	</style>

</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">


<h2> Lifeline </h2>
<p id="demo"></p>
<ul style="list-style-type: none;">

<% if ( livemottos ){ %>

    <%- livemottos %>
   
<% }else{ %>

    <p><%- "No motto alive!" %> </p>
<% } %> 


</ul>

</div>


<script>
	    var vbtn = document.getElementsByClassName('votingbutton');
	    for (var i=0; i < vbtn.length; i++){	
		vbtn[i].addEventListener('click', (e)=>sendVote(e), false);
	    }

	    var ls = document.getElementsByClassName('lifespan');
	    for (var j=0; j<ls.length; j++){
		setInterval( lifetimer, 1000, ls[j]);
	    }


	function disableVoted(target){
			//disable voting button after click, and change color to RED
		    document.getElementById(target.id).setAttribute("disabled","disabled");
		    document.getElementById(target.id).style.background= target.id.toString().substr(0,1) =="+"?"rgba(0,255,0,0.6)" : "rgba(255,0,0,0.6)";
			//disable other voting button after click
		    var sign = target.id.toString().substr(0,1)=="+"? "-":"+";
		    document.getElementById(sign.concat(target.id.toString().substr(1))).setAttribute("disabled","disabled");
	}
	
	function sendVote(e){
		e = e || window.event;
		let target = e.target || e.srcElement;

		let v = target.id.toString();

		var http = new XMLHttpRequest();
		var url = "/vote";
		var params = {"v":v.substr(0,1), 'did': v.substr(1) };
		http.open("POST", url, true);
	
		//Send the proper header information along with the request
		http.setRequestHeader("Content-type", "text/html"); 
		
		http.onreadystatechange = function() {//Call a function when the state changes.
    			if(http.readyState == 4 && http.status == 200) {
				if ( http.responseText == "OK"+v){
					disableVoted(target);
				}else{
					alert("Couldn't record your Vote!");
				}
   			}
		}
		http.send(JSON.stringify(params));
	}

	function lifetimer(m){
		var d = m.attributes[1].value-(new Date()).getTime();
		m.innerHTML =(new Date(d)).toLocaleTimeString();
		
		m.parentElement.style.background= d > 60000 ? "rgba(255,255,255,0.6)" : "rgba(255,0,0,0.6)";
	}
	</script>
</body>
</html>
