<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Motto</h2>

	<div> <%- extract %> </div>
    
</div>


<% include ../partials/scriptsInHtml.ejs %>
</body>
</html>
