<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2> Lifeline </h2>

<ul style="list-style-type: none;">
    <% results.forEach(function(r) { %>
        <li><%= r.did %>   <%- r.extract %>   <%= r.modetime %></li><hr>
    <% }); %>
</ul>



</div>

</body>
</html>
